<template>
  <footer class="main-footer">
    Pos Indonesia 2023
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.1
    </div>
  </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>