<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar elevation-4" style="background-color: #e77817">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img
        src="../assets/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light white-all" style="color: #ffff"
        >KANTOR POS</span
      >
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <!-- <img src="../assets/img/avatar5.png" class="img-circle elevation-2" alt="User Image"> -->
        </div>
        <div class="info">
          <label class="d-block white-all">--NAMA USER--</label>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt white-all"></i>
              <p class="white-all">
                Menu
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link
                  to="/admin"
                  :class="NamePage == 'Dashboard' ? Active : notActive"
                >
                  <i class="far fa-circle nav-icon" style="color: #ffff"></i>
                  <p style="color: #ffff">Dashboard</p>
                </router-link>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy white-all"></i>
              <p class="white-all">
                Pengelolaan
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link
                  to="/admin"
                  :class="NamePage == 'Tes' ? Active : notActive"
                >
                  <i class="far fa-circle nav-icon" style="color: #ffff"></i>
                  <p style="color: #ffff">Collapsed Sidebar</p>
                </router-link>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {
  props: {
    NamePage: String,
  },
  data() {
    return {
      Active: "nav-link active",
      notActive: "nav-link",
    };
  },
};
</script>

<style>
.white-all {
  color: #ffff;
}
.active {
  background-color: #ffff !important;
}
.active p {
  color: black !important;
}
.active .nav-icon {
  color: black !important;
}
</style>
