<template lang="">
  <div class="bgimg"></div>
  <div class="row" style="margin-top: -4%">
    <div class="col-12 d-flex justify-content-center">
      <p class="text-style-title">Welcome to Pos Indonesia !</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <router-link to="/FindOffice" class="btn-style">OUR OFFICE</router-link>

    </div>
  </div>
</template>
<script>
export default {};
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.bgimg {
  background-image: url("../../assets/bgkantorpos.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.text-style-title {
  color: #000;
  text-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.25);
  font-size: 5vw;
  font-family: Lato;
  font-weight: 700;
}
.btn-style {
  border-radius: 60px;
  border: 2px solid #000;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-size: 1.5vw;
  font-family: Lato;
  font-weight: 700;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px; */
  padding: 0.8% 1.6% 0.8% 1.6%;
}
.btn-style:hover {
  background: #ff7f00;
  color: #fff;
  border: 0px solid #fff;
}
@media only screen and (max-width: 720px) {
  .bgimg {
    background-image: url("../../assets/bg-mobile-kantorpos.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 60vh; */
    right: 0;
    left: 0;
  }
  .text-style-title {
    text-align: center;
    font-size: 40px;
    font-family: Lato;
    font-weight: 700;
    margin-top: -14%;
  }
  .btn-style {
    font-size: 18px;
    font-family: Lato;
    font-weight: 700;
    padding: 0.8% 2.5% 0.8% 2.5%;
  }
}
</style>
