<template lang="">
  <button @click="topFunction()" id="myBtn" title="Go to top">Top</button>
  <div class="row" style="margin-bottom: 25px">
    <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-center">
      <p class="title-Search">Pencarian Kantor Pos Indonesia</p>
    </div>
  </div>
  <!-- Filter -->
  <div class="container-xxl cstm-row-styles" style="margin-bottom: 50px">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-6 p-0" id="cstm-click">
        <div class="custom-check">
          <label>
            <input
              type="radio"
              name="pilih"
              @change="checkedBox()"
              id="kantorpos-check"
            />
            <img src="../../assets/kantorpos.svg" alt="" />
            <span>KANTOR POS</span>
          </label>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-6 p-0" id="cstm-click1">
        <div class="custom-check">
          <label>
            <input
              type="radio"
              name="pilih"
              @change="checkedBox()"
              id="agenpos-check"
            />
            <img src="../../assets/agenpos.svg" alt="" />
            <span>AGEN POS</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- Search -->
  <div class="container-xxl">
    <div class="row cstm-row-styles">
      <div class="col-12 p-0">
        <div class="card" style="border-radius: 15px; background: #fff">
          <div class="card-body">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <div class="input-group">
                  <span
                    class="input-group-text"
                    style="
                      background-color: white;
                      border-right: 0;
                      background: #f3f3f3;
                      border-radius: 10px 0px 0px 10px;
                    "
                    id="basic-addon1"
                  >
                    <img src="../../assets/search.svg" alt="" />
                  </span>
                  <input
                    type="text"
                    class="form-control cstm-form-input"
                    placeholder="Kodepos, Alamat, Nama Kantor"
                    style="
                      margin-right: 25px;
                      border-left: 0;
                      background: #f3f3f3;
                      border-radius: 0px 10px 10px 0px;
                    "
                  />
                </div>
                <button
                  class="btn-detail-style"
                  data-bs-target="#modal_demo"
                  data-bs-toggle="modal"
                >
                  Cari
                </button>
              </div>
            </div>
            <div class="row" style="margin-top: 25px">
              <div class="col-12 d-flex justify-content-center">
                <img
                  src="../../assets/down.svg"
                  id="downIcon"
                  alt=""
                  @click="showFilter()"
                  style="display: block; cursor: pointer"
                />
                <img
                  src="../../assets/up.svg"
                  id="upIcon"
                  alt=""
                  @click="hideFilter()"
                  style="display: none; cursor: pointer"
                />
              </div>
            </div>
            <div
              class="row"
              id="FilterAdvance"
              style="margin-top: 25px; display: none"
            >
              <div class="col-lg-12 col-md-12 col-12 d-flex style-col-d">
                <select
                  class="form-select"
                  style="
                    border-radius: 10px;
                    margin-right: 10px;
                    margin-bottom: 15px;
                  "
                >
                  <option selected>Provinsi</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <select
                  class="form-select"
                  style="
                    border-radius: 10px;
                    margin-right: 10px;
                    margin-bottom: 15px;
                  "
                >
                  <option selected>Kecamatan</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <select
                  class="form-select"
                  style="
                    border-radius: 10px;
                    margin-right: 10px;
                    margin-bottom: 15px;
                  "
                >
                  <option selected>Kelurahan</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <button
                  class="btn-clearAll"
                  style="
                    color: #000;
                    font-family: Lato;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    background-color: #ffff;
                    border: 0;
                    width: 50%;
                  "
                >
                  Clear All
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <!-- <div class="rowStyle"> -->
  <div class="content">
    <div class="container-fluid" style="padding-left: 8%; padding-right: 8%">
      <p
        style="
          color: #000;
          font-size: 24px;
          font-family: Lato;
          font-weight: 500;
        "
      >
        LIST FASILITAS POS INDONESIA
      </p>
      <div class="row mt-1">
        <div class="col-lg-4 col-md-12 col-12">
          <div class="card card-content-style">
            <div class="card-header" style="border-bottom: none">
              <div class="box-title">
                <p class="text-content-style">GRAHA POS INDONESIA</p>
                <p class="text-content-style">BANDUNG</p>
              </div>
            </div>
            <div class="card-body" style="height: 220px">
              <p class="text-content-style">Jl. Banda No. 30</p>
              <p class="text-content-style">07.00 - 17.00</p>
              <p class="text-content-style">
                Layanan : Pembayaran, Pengiriman, Penarikan, Dll
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center"
              style="background-color: #ffff; border-radius: 10px; width: 100%"
            >
              <button
                class="btn-detail-style"
                data-bs-target="#modal_demo"
                data-bs-toggle="modal"
              >
                Detail
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <div class="card card-content-style">
            <div class="card-header" style="border-bottom: none">
              <div class="box-title">
                <p class="text-content-style">GRAHA POS INDONESIA</p>
                <p class="text-content-style">BANDUNG</p>
              </div>
            </div>
            <div class="card-body" style="height: 220px">
              <p class="text-content-style">Jl. Banda No. 30</p>
              <p class="text-content-style">07.00 - 17.00</p>
              <p class="text-content-style">
                Layanan : Pembayaran, Pengiriman, Penarikan, Dll
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center"
              style="background-color: #ffff; border-radius: 10px; width: 100%"
            >
              <button
                class="btn-detail-style"
                data-bs-target="#modal_demo"
                data-bs-toggle="modal"
              >
                Detail
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <div class="card card-content-style">
            <div class="card-header" style="border-bottom: none">
              <div class="box-title">
                <p class="text-content-style">GRAHA POS INDONESIA</p>
                <p class="text-content-style">BANDUNG</p>
              </div>
            </div>
            <div class="card-body" style="height: 220px">
              <p class="text-content-style">Jl. Banda No. 30</p>
              <p class="text-content-style">07.00 - 17.00</p>
              <p class="text-content-style">
                Layanan : Pembayaran, Pengiriman, Penarikan, Dll
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center"
              style="background-color: #ffff; border-radius: 10px; width: 100%"
            >
              <button class="btn-detail-style">Detail</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-4 col-md-12 col-12">
          <div class="card card-content-style">
            <div class="card-header" style="border-bottom: none">
              <div class="box-title">
                <p class="text-content-style">GRAHA POS INDONESIA</p>
                <p class="text-content-style">BANDUNG</p>
              </div>
            </div>
            <div class="card-body" style="height: 220px">
              <p class="text-content-style">Jl. Banda No. 30</p>
              <p class="text-content-style">07.00 - 17.00</p>
              <p class="text-content-style">
                Layanan : Pembayaran, Pengiriman, Penarikan, Dll
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center"
              style="background-color: #ffff; border-radius: 10px; width: 100%"
            >
              <button class="btn-detail-style">Detail</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <div class="card card-content-style">
            <div class="card-header" style="border-bottom: none">
              <div class="box-title">
                <p class="text-content-style">GRAHA POS INDONESIA</p>
                <p class="text-content-style">BANDUNG</p>
              </div>
            </div>
            <div class="card-body" style="height: 220px">
              <p class="text-content-style">Jl. Banda No. 30</p>
              <p class="text-content-style">07.00 - 17.00</p>
              <p class="text-content-style">
                Layanan : Pembayaran, Pengiriman, Penarikan, Dll
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center"
              style="background-color: #ffff; border-radius: 10px; width: 100%"
            >
              <button class="btn-detail-style">Detail</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <div class="card card-content-style">
            <div class="card-header" style="border-bottom: none">
              <div class="box-title">
                <p class="text-content-style">GRAHA POS INDONESIA</p>
                <p class="text-content-style">BANDUNG</p>
              </div>
            </div>
            <div class="card-body" style="height: 220px">
              <p class="text-content-style">Jl. Banda No. 30</p>
              <p class="text-content-style">07.00 - 17.00</p>
              <p class="text-content-style">
                Layanan : Pembayaran, Pengiriman, Penarikan, Dll
              </p>
            </div>
            <div
              class="card-footer d-flex justify-content-center"
              style="background-color: #ffff; border-radius: 10px; width: 100%"
            >
              <button class="btn-detail-style">Detail</button>
            </div>
          </div>
        </div>
      </div>
      <div style="float: right; margin-top: 25px; margin-right: 40px">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <img src="../../assets/leftArrow.svg" alt=""
              /></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>

            <li class="page-item">
              <a class="page-link" href="#"
                ><img src="../../assets/rightArrow.svg" alt=""
              /></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div
      class="modal fade"
      id="modal_demo"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-12 col-style-border">
                  <p
                    style="
                      color: #000;
                      font-size: 36px;
                      font-family: Lato;
                      font-weight: 700;
                      margin-bottom: 2%;
                      margin-top: 3%;
                      text-align: center;
                    "
                  >
                    Graha Pos Indonesia
                  </p>
                  <p class="detail-text-style">
                    Alamat : Jl. Banda No.30, Citarum, Kec, Bandung Wetan, Kota
                    Bandung, Jawa Barat 40115
                  </p>
                  <p class="detail-text-style">Telepon : 0821-1737-7790</p>

                  <div class="map"></div>
                </div>
                <div class="col-lg-6 col-md-12 col-12" style="padding: 2%">
                  <p
                    style="
                      color: #000;
                      font-size: 36px;
                      font-family: Lato;
                      font-weight: 700;
                      margin-bottom: 2%;
                      margin-top: 3%;
                      width: 100%;
                      text-align: center;
                    "
                  >
                    Informasi Layanan
                  </p>
                  <div class="space-text">
                    <p class="detail-text-style" style="margin-bottom: 0">
                      Senin : 07.00 - 17.00
                    </p>
                    <p class="detail-text-style">
                      Layanan : Pengiriman, Pembayaran, dan Penarikan
                    </p>
                    <p class="detail-text-style" style="margin-bottom: 0">
                      Selasa : 07.00 - 17.00
                    </p>
                    <p class="detail-text-style">
                      Layanan : Pengiriman, Pembayaran, dan Penarikan
                    </p>
                    <p class="detail-text-style" style="margin-bottom: 0">
                      Rabu : 07.00 - 17.00
                    </p>
                    <p class="detail-text-style">
                      Layanan : Pengiriman, Pembayaran, dan Penarikan
                    </p>
                    <p class="detail-text-style" style="margin-bottom: 0">
                      Kamis : 07.00 - 17.00
                    </p>
                    <p class="detail-text-style">
                      Layanan : Pengiriman, Pembayaran, dan Penarikan
                    </p>
                    <p class="detail-text-style" style="margin-bottom: 0">
                      Jumat : 07.00 - 17.00
                    </p>
                    <p class="detail-text-style">
                      Layanan : Pengiriman, Pembayaran, dan Penarikan
                    </p>
                    <p class="detail-text-style" style="margin-bottom: 0">
                      Sabtu : 07.00 - 17.00
                    </p>
                    <p class="detail-text-style">
                      Layanan : Pengiriman, Pembayaran, dan Penarikan
                    </p>
                    <p class="detail-text-style" style="margin-bottom: 0">
                      Minggu : 07.00 - 17.00
                    </p>
                    <p class="detail-text-style">
                      Layanan : Pengiriman, Pembayaran, dan Penarikan
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <!-- Modal Detail-->
</template>
<script>
export default {
  data() {
    return {
      Find: {
        Address: "",
        Location: "",
      },
    };
  },
  methods: {
    checkedBox() {
      let kantorposBtn = document.getElementById("kantorpos-check");
      let agenposBtn = document.getElementById("agenpos-check");
      if (kantorposBtn.checked == true) {
        document.getElementById("cstm-click").style.background =
          "linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(270deg, rgba(97, 52, 6, 0.44) 0%, #FA982F 0.01%, #FF5E43 99.99%)";
        document.getElementById("cstm-click1").style.background =
          "linear-gradient(270deg,rgba(97, 52, 6, 0.44) 0%,#fa982f 0.01%, #ff5e43 99.99%)";
      }
      if (agenposBtn.checked == true) {
        document.getElementById("cstm-click").style.background =
          "linear-gradient(270deg,rgba(97, 52, 6, 0.44) 0%,#fa982f 0.01%, #ff5e43 99.99%)";
        document.getElementById("cstm-click1").style.background =
          "linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(270deg, rgba(97, 52, 6, 0.44) 0%, #FA982F 0.01%, #FF5E43 99.99%)";
      }
    },
    showFilter() {
      document.getElementById("downIcon").style.display = "none";
      document.getElementById("upIcon").style.display = "block";
      document.getElementById("FilterAdvance").style.display = "block";
    },
    hideFilter() {
      document.getElementById("downIcon").style.display = "block";
      document.getElementById("upIcon").style.display = "none";
      document.getElementById("FilterAdvance").style.display = "none";
    },
    topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTo({ top: 0, behavior: "smooth" });
    },
    Checkinput() {
      var Address = this.Find.Address;
      var Location = this.Find.Location;
      if (Address != "") {
        document.getElementById("x-icon-address").style.display = "block";
      } else {
        document.getElementById("x-icon-address").style.display = "none";
      }
      if (Location != "") {
        document.getElementById("x-icon-location").style.display = "block";
      } else {
        document.getElementById("x-icon-location").style.display = "none";
      }
    },
    Clear(Nilai) {
      console.log(Nilai);
    },
  },
  mounted() {
    var myButton = document.getElementById("myBtn");
    window.addEventListener("scroll", function () {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        myButton.style.display = "block";
      } else {
        myButton.style.display = "none";
      }
    });
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

.col-style {
  border-right: 2px solid #79818e;
}
.space-text {
  margin-top: 10%;
}
.map {
  background-image: url("../../assets/Full-Map.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 540px;
}
.detail-text-style {
  color: #000;
  font-size: 22px;
  font-family: Lato;
  font-weight: 400;
}
.box-title {
  border-bottom: 1px solid #000;
}
.text-content-style {
  margin-bottom: 0;
  color: #000;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
}
.text-style {
  color: #000;
  /* font-size: 2.4vw; */
  font-size: 36px;
  font-family: Lato;
  padding-left: 2%;
  padding-top: 1%;
}
.card-filter {
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn-style-page {
  box-shadow: inset 0 0 0 0 #e77817;
  background-color: white;
  float: right;
  color: black;
  font-size: 0.9vw;
  font-family: Lato;
  font-weight: 500;
  width: 60%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 8%;
  padding-right: 4%;
  margin-top: 2%;
  display: flex;
  align-content: center;
  border: 1px solid #e77817;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.btn-style-page:hover {
  color: #ffff;
  widows: 100%;
  box-shadow: inset 100vh 0 0 0 #e77817;
}

.input-style {
  border: none;
}

.input-icon-style {
  border: none;
  background-color: #fff;
}

.select-style {
  background: #fff;
  background-color: #fff;
  border-right: none;
  border-radius: 0;
}
.select-icon-style {
  border-radius: 0;
  background-color: #fff;
  border-left: none;
}
.img-style-icon {
  width: 20%;
  height: 15px;
  margin-left: 30%;
  margin-top: 6%;
}
@media only screen and (max-width: 992px) {
  .btn-style-page {
    margin-left: auto;
    margin-right: auto;
    padding-left: 4%;
    width: 15%;
    max-height: 5%;
    align-items: center;
    font-size: 2vw;
  }
  .img-style-icon {
    width: 25%;
  }
  .space-text {
    margin-top: 5%;
  }
  .text-style {
    font-size: 20px;
  }
  .col-style {
    border-right: 0;
  }
  .nav-link.active {
    width: 90px !important;
  }
  .nav-link {
    width: 90px !important;
  }
  .row-margin {
    margin-top: -60px !important;
  }

  .tab-style {
    height: 15vh !important;
  }
  .col-style-border {
    border-right: 0 !important;
  }
  .title-Search {
    font-size: 22px !important;
  }
  .custom-check span {
    font-size: 3vw !important;
  }
  .custom-check img {
    width: 47px !important;
    margin-right: 15px !important;
  }
  .cstm-row-styles {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .custom-check {
    margin: 20px !important;
  }
  .custom-check label {
    padding-left: 10px !important;
  }
  .cstm-form-input::placeholder {
    font-size: 12px;
  }
  .style-col-d {
    display: block !important;
  }
  .btn-clearAll{
    font-size: 12px !important;
    width: 100% !important;
  }
}
.content {
  margin-top: 2%;
  box-sizing: border-box;
  padding-top: 3%;
  width: 100%;
  /* position: absolute; */
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 80px 80px 0px 0px;
  /* background-color: aqua; */
}
/* .rowStyle {
  
  width: 100%;
  height: 49vh;
  bottom: 0;
  left: 0;
  right: 0;
} */

.card-content-style {
  display: block;
  border-radius: 10px;
  box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
  height: 380px;
  min-height: 380px;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 0.9vw;
  border: none;
  outline: none;
  background-color: #ffff;
  box-shadow: inset 0 0 0 0 #e77817;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e77817;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

#myBtn:hover {
  color: #ffff;
  widows: 100%;
  box-shadow: inset 0 100vh 0 0 #e77817;
}

.btn-detail-style {
  border: 1px solid #e77817;
  border-radius: 10px;
  background-color: #ffff;
  box-shadow: inset 0 0 0 0 #e77817;
  padding: 5px 25px;
  color: #e77817;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.btn-detail-style:hover {
  border: 1px solid #e77817;
  box-shadow: inset 100vh 0 0 0 #e77817;
  padding: 5px 25px;
  color: #ffff;
}

.tab-style {
  height: 20vh;
  border-radius: 0px 25px 25px 25px;
  border-width: 0;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nav-link.active {
  border-radius: 25px 25px 0px 0px;
  background: #fff;
  width: 200px;
  color: #000;
}
.nav-link {
  border-radius: 50px 50px 0px 0px;
  margin-right: 10px;
  color: #000;
  width: 200px;
  background: rgba(231, 122, 23, 0.9);
}
.nav-link:hover {
  color: #fff !important;
  text-decoration: none;
}

.nav-link.active:hover {
  color: #131212 !important;
  text-decoration: none;
}

.row-margin {
  margin-top: -130px;
}

.col-style-border {
  border-right: 5px solid #000;
  padding: 2%;
}
.pagination li {
  margin-left: 5px;
  margin-right: 5px;
}
.pagination li a:hover {
  border-color: #e77817;
  color: #e77817;
  background-color: #fff;
}
.pagination li a {
  color: #000;
}

.custom-check {
  overflow: hidden;
  margin: 25px;
}

.custom-check label {
  line-height: 3em;
  width: 100%;
  height: 100%;
  padding-left: 15%;
  cursor: pointer;
}
.custom-check label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
.custom-check span {
  color: #000;
  font-family: Lato;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custom-check img {
  margin-right: 25px;
}
#cstm-click {
  border-radius: 15px 0px 0px 15px;
  border-right: 2px solid #000;
  background: linear-gradient(
    270deg,
    rgba(97, 52, 6, 0.44) 0%,
    #fa982f 0.01%,
    #ff5e43 99.99%
  );
}

#cstm-click1 {
  border-radius: 0px 15px 15px 0px;
  background: linear-gradient(
    270deg,
    rgba(97, 52, 6, 0.44) 0%,
    #fa982f 0.01%,
    #ff5e43 99.99%
  );
}

.title-Search {
  color: #000;
  font-family: Lato;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 50px;
}
.cstm-form-input {
  margin-right: 25px;
  border-left: 0;
  background: #f3f3f3;
  border-radius: 0px 10px 10px 0px;
}
.btn-clearAll {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #ffff;
  border: 0;
  width: 50%;
}
</style>
