<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12 p-0">
        <div class="block-design"></div>
      </div>
      <div class="col-lg-8 col-md-8 col-12" style="margin-top: 3%">
        <div class="block-login">
          <div class="row new-row" style="height: 47%">
            <div class="col-lg-3 col-md-3 col-12"></div>
            <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center new-col">
              <div class="icon"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-12"></div>
          </div>
          <div class="row">
            <div class="form-login col-lg-3 col-md-0 col-12"></div>
            <div class="form-login col-lg-6 col-md-12 col-12">
              <div class="row">
                <div class="col-12">
                  <label class="form-label">Nippos</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="user.nippos"
                    style="margin-left: auto; margin-right: auto"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    v-model="user.password"
                    style="margin-left: auto; margin-right: auto"
                  />
                </div>
              </div>
              <div class="mt-3 d-flex justify-content-center">
                <button type="submit" class="button-style" @click="login">
                  Login
                </button>
              </div>
            </div>
            <div class="form-login col-lg-3 col-md-0 col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import authServices from "../../services/AuthService";

export default {
  name: "loginView",

  data() {
    return {
      user: {
        nippos: null,
        nama: "",
      },
      loginIs: false,
      msg: "",
      DataUser: "",
    };
  },
  methods: {
    processLogin() {
      //   var data = {
      //     nippos: this.user.nippos,
      //   };
      //   localStorage.clear();
      //   authServices.get(data)
      //     .then((response) => {
      //       var resData = response.data.data;
      //       if (resData.name == this.user.nama) {
      //         data.name = resData.name;
      //         localStorage.setItem("data-user", JSON.stringify(data));
      //         sessionStorage.setItem("data-user", JSON.stringify(data));
      //         var userData = JSON.parse(localStorage.getItem("data-user"));
      //         console.log(userData);
      //         this.msg = "Berhasil";
      //         this.loginIs = true;
      //         this.DataUser =
      //           "Nippos : " + userData.nippos + " Name : " + userData.name;
      //         // location.reload()
      //         window.location.href = "tutorials";
      //       } else {
      //         this.msg = "Gagal";
      //       }
      //     })
      //     .catch((e) => {
      //       console.log(e);
      //     });
    },
    processLogout() {
      localStorage.clear();
      location.reload();
    },
    login() {
      sessionStorage.setItem("is-Login", "Login berhasil");
      // this.$router.push("/admin");
      // window.location.href = "admin";
      this.$router.push("/admin");
      this.$router.go("/admin");

      // location.reload();
    },
  },
};
</script>

<style>
/* body{
  height: 100%;
} */
.button-style {
  width: 50%;
  background-color: #e77817;
  color: #ffff;
  border-radius: 5px;
  border: 2px solid #e77817;
}
.button-style:hover {
  background-color: #ffff;
  color: #e77817;
}
.block-login {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.block-design {
  width: 100%;
  height: 100vh;
  /* background-image: url("../../assets/bgakhlak.svg"); */
  background-color: #e77817;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-login {
  align-content: center;
}

.form-login input {
  width: 80%;
  margin-left: 10%;
}

.form-login label {
  margin-left: 10%;
}

.icon {
  background-image: url("../../assets/logo-pos.png");
  width: 75%;
  height: 75%;
  margin-top: 10%;
  /* margin-left: auto; */
  margin-right: 5%;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media only screen and (max-width: 720px) {
  .block-design {
    display: none;
  }
  .icon {
    width: 40%;
    min-height: 30%;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: flex;
  }
  .new-row{
    height: 50vh !important;
  }
  .new-col{
    height: 50vh !important;
  }
}
</style>
