<template>
  <div v-if="adminUrl">
    <body class="hold-transition sidebar-mini layout-fixed">
      <div v-show="notLogin">
        <LoginPage />
      </div>
      <div v-show="isLogin">
        <div class="wrapper">
          <Preloader></Preloader>
          <Navbar></Navbar>
          <Sidebar :NamePage="$route.name"></Sidebar>
          <div class="content-wrapper">
            <ContentHeader :NamePage="$route.name"></ContentHeader>
            <section class="content">
              <div class="container-fluid">
                <router-view />
              </div>
            </section>
          </div>

          <Footer></Footer>
          <ControlSidebar></ControlSidebar>
        </div>
      </div>
    </body>
  </div>
  <div v-else>
    <body style="overflow-x: hidden;">
      <div class="row" id="nav-style">
        <div
          class="col-lg-12 col-md-12 col-12"
          style="
            background: #fff;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
          "
        >
          <img
            src="./assets/logo-pos.png"
            class="navbar-brand"
            style="width: 8%; min-width: 100px;"
            
          />
        </div>
      </div>
      <div class="container-fluid p-0">
        <router-view />
      </div>
    </body>
  </div>
</template>

<script>
import $ from "jquery";
import "../node_modules/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";
import "../node_modules/admin-lte/plugins/select2/css/select2.min.css";

import Preloader from "./dashboard/Preloader.vue";
import ContentHeader from "./dashboard/ContentHeader.vue";
import Navbar from "./dashboard/Navbar.vue";
import Sidebar from "./dashboard/Sidebar.vue";
import Footer from "./dashboard/Footer.vue";
import ControlSidebar from "./dashboard/ControlSidebar.vue";

import LoginPage from "./components/page/Login.vue";
import { useRoute, useRouter } from "vue-router";
export default {
  name: "App",
  data() {
    return {
      notLogin: !sessionStorage.getItem("is-Login") ? true : false,
      isLogin: !sessionStorage.getItem("is-Login") ? false : true,
      adminUrl: false,
    };
  },
  components: {
    Preloader,
    ContentHeader,
    Navbar,
    Sidebar,
    Footer,
    ControlSidebar,
    LoginPage,
  },
  methods: {
    initializeSelect2() {
      //Initialize Select2 Elements
      $(".select2").select2();
      //Initialize Select2 Elements
      $(".select2bs4").select2({
        theme: "bootstrap4",
      });
    },
  },
  beforeMount() {
    console.log("loading..");
  },
  async mounted() {
    const route = useRoute();
    const router = useRouter();
    await router.isReady();
    if (route.path.split("/")[1] == "admin") {
      this.adminUrl = true;
    } else {
      // console.log("web");
    }
    // sessionStorage.clear()
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
</style>
